---
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/Post.astro";
const PageTitle = 'Portfolio';
const Description = "Welcome to my Portfolio"; 
const allPortfolio = await Astro.glob('../pages/portfolio/*.md');
---

<BaseLayout pageTitle = {PageTitle} siteDescription={Description}>
    
    <!--the wrapper needs to control the size-->
    <div class="hero-projects-container">
        <img class="hero-projects" src="../../src/images/code.png" alt="Code Editor Image" />
        <h1>Projects</h1>
    </div>
<div id="portfolio-content">
    <section class="post-decorator">
    
    <p class="description"> Below you will find Projects that i have worked on that I think are some of my best work. In each Project you will find a link to the project or images of the Project If the application is no longer in opperation. I will include links to the code for each project if it is publicly available.</p>

    <hr/>
    {allPortfolio.map(post => <Post image={post.frontmatter.image} description={post.frontmatter.description} title={post.frontmatter.title} postLink={post.url}/>)}
    <!-- <Post image="../../src/images/code.png" description="This is a post" title="post 1" postLink="/"/>
    <Post image="../../src/images/code.png" description="This is a post" title="post 1" postLink="/"/>
    <Post image="../../src/images/code.png" description="This is a post" title="post 1" postLink="/"/>
    <Post image="../../src/images/code.png" description="This is a post" title="post 1" postLink="/"/><Post image="../../src/images/code.png" description="This is a post" title="post 1" postLink="/"/> -->
    
    </section>
</div>

</BaseLayout>

<style>
    #portfolio-content{
        width: 80%;
        margin: 40px auto;
        padding-bottom: 40px;
    }
    .hero-projects-container{
        width: 80%;
        position: relative;
        margin: 0 auto;
    }
    .hero-projects{
        width: 100%;
        display: block;
        border:2px solid rgba(255, 255, 255, 0.2);
        border-radius: 15px;
    }
    .description{
        width: 80%;
        margin: 20px auto;
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
    }

    h1{
        background: #fff;
        color:var(--DarkBlue);
        width: 80%;
        bottom: -20px;
        right: 0px;
        position: absolute;
        font-size: 150%;
        text-transform: uppercase;
        text-align: right;
        padding-right: 10px;
        letter-spacing: 2px;
        text-align: center;

    }
    

    @media (min-width:768px){
        h1{
            width: 50%;
            font-size: 300%;
        }
        #portfolio-content{
            width: 768px;
        }


    }

    @media (min-width: 1000px){
        .hero-projects-container{
            width:700px;
        }
        .description{
            width: 750px;
        }
        h1{
            width: 38%;
            
        }
    }
</style>

