---
import BaseLayout from './BaseLayout.astro';
const {frontmatter} = Astro.props;
import {Image} from 'astro:assets';
const image = frontmatter.image;
const images = import.meta.glob("../images/post-images/*");
---

<BaseLayout pageTitle={frontmatter.title} siteDescription={frontmatter.description}>
    <Image src={images[image]()} alt={frontmatter.headerAlt}/>
    <h2>{frontmatter.title}</h2>
    <section class="container post-decorator">
<slot/>
</section>

</BaseLayout>

<style>
 h1{
    color:var(--green);
    text-align: center;
    font-weight:900;
 }

 h2{
   text-align: center;
 }

 
 img{
    width:70%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid var(--green);
    margin: 0 auto;
    display: block;
 }

 @media (min-width:1000px){
   img{
      width: 50%;
   }
 }


</style>

